/**
  * $Id$
  * 
  * Copyright 2008-2011 Mathieu Moulin - lemathou@free.fr
  * 
  * This file is part of PHP FAD Framework.
  * http://sourceforge.net/projects/phpfadframework/
  * Licence : http://www.gnu.org/copyleft/gpl.html  GNU General Public License
  * 
  */

@CHARSET "UTF-8";

.admin_menu
{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	padding: 4px 0px;
	height: 20px;
	border-bottom: 1px blue solid;
	font-size: 0.9em;
}
.admin_menu a
{
	text-decoration: none;
	color: blue;
	font-weight: bold;
	padding: 0 10px;
}
.admin_menu a:hover, .admin_menu a.selected
{
	color: orange;
}
.admin_submenu
{
	top: 29px;
	text-align: right;
	right: 0px;
	width: 500px;
	border: 0;
	background: none;
}

.page_content
{
	padding: 65px 5px 5px 5px;
}

.page_form
{
	position: fixed;
	top: 29px;
	left: 0;
	width: 100%;
	height: auto;
	border-bottom: 1px blue solid;
	background-color: white;
	padding: 4px 10px;
}

table td
{
	vertical-align: top;
}

tr.header td
{
	font-size: 1em;
}
td.label
{
	font-weight: bold;
}

tr.alt td
{
	background-color: #ccf;
}

/* Objects specific list */
.object_list_form > table
{
	font-size: 0.9em;
}
.object_list_form .delete_link
{
	color: red;
	text-decoration: none;
}
tr.label
{
	font-weight: bold;
}

/* Page specifics */
table.tpl_params p
{
	margin: 0;
} 
table.tpl_params tr.tpl_name td
{
	font-weight: bold;
	font-size: 1em;
	background-color: #ccf;
} 
table.tpl_params tr.title td
{
	font-weight: bold;
	background-color: #ffa;
	white-space: nowrap;
}

#databank_select_form
{
	display: none;
	border: 1px black solid;
	padding: 4px;
	margin-bottom: 5px;
}
